    <footer>

        <div class="copy">
            <h2>RestroShop</h2>
            <h4>&copy; Copyright 2021 | Développer avec <i class="fas fa-heart"></i> par Anaëlle - Brayan - Kévin J - Quentin</h4>
        </div>


        <div class="reseauxs">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>

        <div class="abonnements">
            <h4>Souscrire à notre newletter</h4>

            <form action="">
                <input type="text" placeholder="Votre adresse mail">
                <button>Ok</button>
            </form>

        </div>

        <div class="contact">
            <h4>RestroShop</h4>
            <p>92 rue Henri Depagneux</p>
            <p>69400 Limas</p>
            <p>04 74 62 95 89</p>
            <p><strong>retroshop@gmail.com</strong></p>
        </div>
        
    </footer>
</body>
</html>